.portfolio {
  &-section {
    padding-bottom: 50px;

    &__header {
      position: relative;
      margin-top: 80px;
      text-align: center;
      font-weight: 300;
      font-size: 40px;
    }

    .works {
      &-controls {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        border-bottom: 1px solid $primary;

        &__item {
          cursor: pointer;
          position: relative;
          z-index: 1;
          background-color: transparent;
          border: none;
          color: $primary;
          padding: 10px 15px;
          margin: 0 15px;
          font-size: 18px;
          transition: color 0.2s linear;
          outline: none;

          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background-color: $primary;
            transform: skewX(30deg);
            transition: width 0.35s linear;
          }

          &:hover {
            color: $white;

            &::before {
              width: 100%;
            }
          }

          &-active {
            color: $white;

            &::before {
              width: 100%;
            }
          }
        }
      }

      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__item {
          position: relative;
          height: 300px;
          max-width: 46%;
          flex-basis: 46%;
          margin-top: 50px;
          overflow: hidden;
          background-color: $gray;
          padding-top: 29px;
          border-radius: 10px 10px 3px 3px;
          box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.75);

          .item {
            &-header {
              &__text {
                position: absolute;
                top: 6px;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
                font-size: 14px;
                font-weight: 400;
              }

              span {
                position: absolute;
                top: 8px;
                left: 13px;
                height: 12px;
                width: 12px;
                border-radius: 50%;

                &:nth-child(1) {
                  background-color: #ff5f58;
                }

                &:nth-child(2) {
                  background-color: #ffbe2f;
                  left: 35px;
                }

                &:nth-child(3) {
                  background-color: #2ac940;
                  left: 57px;
                }
              }
            }

            &-img {
              height: 100%;
              width: 100%;
              object-fit: fill;
              object-position: center;

              &__wrapper {
                position: relative;
                height: 100%;
                width: 100%;

                &:hover {
                  .item-img__cover {
                    opacity: 1;
                    transform: scale(1);
                  }
                }
              }

              &__cover {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: $primary;
                opacity: 0;
                animation-fill-mode: both;
                animation-duration: 1s;
                height: 100%;
                width: 100%;
                padding: 0 50px;
                transform-origin: 50% 50%;
                transform: scale(0.4);
                transition: all 0.4s linear;

                &-link {
                  position: relative;
                  display: flex;
                  align-items: center;
                  text-decoration: none;
                  color: $white;
                  font-size: 20px;

                  i {
                    margin-right: 3px;
                  }

                  &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    left: 50%;
                    height: 1px;
                    width: 0;
                    background-color: $white;
                    transition: width 0.3s linear, left 0.3s linear;
                  }

                  &:hover {
                    &::after {
                      width: 100%;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
